<section class="hero">
  <div class="form--container">
    <div class="form--center form-style-5">
      <div>
        <h1>Ready to find your <span>life pawtner?</span></h1>
        <ol>
          <li>Upload an image of a dog or cat you love</li>
          <li>Click search to find similar adoptable pets in your area!</li>
        </ol>
      </div>
      <%= form_for :file_upload, html: {multipart: true}, url: "/pets" do |f| %>
        <%= f.label :uploaded_file, 'Upload Your Image' %>
        <%= f.file_field :uploaded_file, required: true %>
        <%= f.submit "Search for Pets", class: 'button--large' %>
      <% end %>
    </div>
  </div>
</section>
