<section class="hero">
  <div class="form-container">
    <div class="form-center">
      <%= form_for :file_upload, html: {multipart: true}, url: "/homes" do |f| %>
        <%= f.label :uploaded_file, 'Upload a Picture of a Cat or Dog' %>
        <%= f.file_field :uploaded_file %>
        <%= f.submit "Search for Pets" %>
      <% end %>
    </div>
  </div>
</section>
