/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/*@import "~slick-carousel/slick/slick.css";*/
/*@import "~slick-carousel/slick/slick-theme.css";*/

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  margin: 0;
  color: #3e606d;
}

header {
  background-color: #ffffff;
  line-height: 60px;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 1030;
}

h1 {
  font-size: 28px;
  font-weight: 100;
}

h2 {
  font-size: 18px;
  font-weight: 400;
}

h3 {
  font-size: 15px;
  font-weight: 100;
}

h4 {
  font-size: 18px;
  font-weight: 100;
}

/*.panel > h4 {
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
}*/

h5 {
  font-size: 16px;
  font-weight: 100;
}

h6 {
  font-size: 12px;
  font-weight: 100;
}

.margin-top--large {
  margin-top: 200px;
}

.nav-bar {
  font-size: 18px;
}

.hero {
  background-image: url("header1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 950px;
}

.favorites--hero {
  background-image: url("header4.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  background-position: center;
}

.alert, .notice {
  display: inline;
}

.icon-logo {
  height: 35px;
  margin: 10px;
  vertical-align: middle;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

.wrapper {
  width: 100%;
  margin: 0 20px;
  display: grid;
  grid-gap: 10px;
}

/* no grid support? */
.wrapper {
  display: flex;
  flex-wrap: wrap;
}

.wrapper {
  display: grid;
  margin: 10px auto;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: minmax(75px, auto);
}

.favorites--wrapper {
  width: 80%;
  margin: 0 20px;
  display: grid;
  grid-gap: 25px;
}


/* no grid support? */

.favorites--wrapper {
  display: flex;
  flex-wrap: wrap;
}

.favorites--wrapper {
  display: grid;
  margin: 10px auto;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-auto-rows: minmax(10px, auto);
}

/*.favorites--wrapper--container {
  margin-bottom:
}
*/
.panel {
  margin-left: 5px;
  margin-right: 5px;
  flex: 1 1 200px;
  position: relative;
}

.favorites--panel {
  margin-left: 5px;
  margin-right: 5px;
  flex: 1 1 200px;
  background-color: #d9e0e3;
}

.header-fake,
.footer-fake {
  margin-left: 5px;
  margin-right: 5px;
  flex: 0 1 100%;
  grid-column: 1 / -1;
}

.wrapper > * {
  color: #3e606d;
  border-radius: 0px;
  padding: 10px;
}

.favorites--wrapper > * {
  color: #3e606d;
  border-radius: 0px;
  padding: 10px;
}

.pet-photo--container {
  height: 150px;
  overflow: hidden;

}

.pet-photo--container > img {
  object-fit: cover;
  min-width: 100%;
  height: 100%;

}


.hidden {
  display: none;
}

/* We need to set the margin used on flex items to 0 as we have gaps in grid.  */
@supports (display: grid) {
  .wrapper > * {
    margin: 0;
  }
}

.pet-card--container {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fill, minmax(175px, 1fr));
}

/*.favorites-card--container {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}*/


.pet-card--outer {
  border: 1px solid #b4b4b4;
  border-radius: 10px;
}

.pet-card--inner {
  margin: 25px;
}

.pet-data--container > h2, h3 {
  display: inline;
  overflow-wrap: break-word;
  hyphens: auto;
}

.pet-data--container > h1 {
  text-align: center;
  margin: 10px auto;
}

.favorite-data--container > h2, h3 {
  display: inline;
  overflow-wrap: break-word;
  hyphens: auto;
}

.favorite-data--container > h1 {
  text-align: center;
  margin: 10px auto;
}

.form--container {
  top: 150px;
  position: relative;
}

.form--center {
  background-color: rgba(255, 255, 255, .8);
  margin: 0 auto;
  width: 500px;
  text-align: center;
}


.map-container--outer {
  position: fixed;
  left: 50%;
  width: 50%;
  top: 155px;
}

#map {
  height: 645px;
  width: auto;
}

.paginate {
  padding: 15px;
  text-transform: uppercase;
  background-color: #b4b4b4;
  color: #ffffff;
  font-size: 12px;
  font-weight: 400;
  text-decoration: none;
}

.paginate:hover {
    background-color: #3e606d;
}

.paginate--container {
  text-align: center;
  width: 100%;
  margin-bottom: 50px;
}

.paginate--container--inner {
  width: 50%;
  margin: 0 auto;
}

/*.gm-style {
  position: fixed;
  z-index: 0;
  left: 50%;
  top: 167px;
  height: 605px;
   width: 720px;
  padding: 0px;
  border-width: 0px;
  margin: 0px;
  overflow: hidden;
  width: 50%;
}*/

.button--large {
  padding: 15px;
  width: 100%;
  margin: 0;
  text-transform: uppercase;
  background-color: #00BCD4;
  border: none;
  color: #ffffff;
  font-size: 12px;
  font-weight: 400;
}

.button--small {
  margin: 0;
  text-transform: uppercase;
  background-color: #00BCD4;
  border: none;
}

.button--center {
  text-align: center;
}

.alternate-link {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 400;
  color: #3e606d;
}


.pet-details {
  position: fixed;
  top: 185px;
  width: 75%;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, .95);
  right: 0;
  left: 0;
  height: 65%;
  overflow: scroll;
  box-shadow: 0px 0px 35px #3e606d;
  padding: 25px;
  z-index: 1000;
}

.button-pet-details {
  white-space: nowrap;
  overflow: hidden;
}

.button-favorites {
  position: absolute;
  top: 15px;
  right: 7px;
  background-image: url(white-heart.png);
  background-position: 0px 0px;
  background-size: 20px;
  background-color: transparent;
  background-repeat: no-repeat;
  height: 30px;
  width: 30px;
  border: none;
  cursor: pointer;
}

.button-favorites:hover {
  background-size: 30px;
}

.pet-avatar-container {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto;
}

.pet-avatar-container img {

  object-fit: cover;
  object-position: center;
  width: 100%;
}
